include ../config/config
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
        title Document
    body
        header#header.header
            a(href="/").logo
                img(src="./assets/img/logo.png" alt="web logo")
            .topbar
                .topbar__icon
                    i.fa.fa-user
                    span Log in
                .topbar__icon
                    i.fa.fa-user-plus
                    span Register
                .toggle-menu
                    #toggle-menu.toggle-menu__icon
                        .first-bar
                        .second-bar
                        .third-bar
        #sidebar.sidebar
            block menu
        main.main
