body {
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
  font-family: $main-font, "sans-serif";

  @include laptop {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 60px 1fr;
    overflow: hidden;
  }
}
