.sidebar {
  position: fixed;
  background-color: $dark-color;
  width: 100%;
  height: 100vh;
  top: 50px;
  transform: translateY(-100%);
  z-index: 1;
  transition: transform 0.3s;
  @include laptop {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 15%;
    top: 0;
    transform: translateY(0);
  }

  &.show {
    transform: translateY(0);
  }
}
