.social {
  width: 80%;
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: space-between;
  height: 2em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  @include laptop {
    width: 30%;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s;

    & i {
      align-self: center;
    }

    @include laptop {
      &:hover {
        transform: translateY(-100%);
        & i:nth-child(2) {
          color: $primary-color;
        }
      }
    }
  }
}
