.toggle-menu {
  height: 50px;
  width: 40px;

  &__icon {
    height: 50px;
    width: 40px;
    position: relative;

    & .first-bar,
    & .second-bar,
    & .third-bar {
      position: absolute;
      width: 30px;
      height: 3px;
      background: $text-color;
      border-radius: 5px;
      transition: transform 0.2s;
    }

    & .first-bar {
      top: 15px;
    }

    & .second-bar {
      top: 25px;
    }

    & .third-bar {
      top: 35px;
    }
  }

  .show .first-bar {
    transform: rotate(-45deg);
    top: 1.5rem;
  }
  .show .second-bar {
    width: 0;
  }
  .show .third-bar {
    transform: rotate(45deg);
    top: 1.5rem;
  }

  @include laptop {
    display: none;
  }
}
