extends ../templates/template
block menu
    include ../includes/main-menu
block title
    h1.title About
    .about
        .about__img.show
            img(src="assets/img/about.jpg" alt="about image 1")
        .about__text.show
            h2 Title 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint tempore reiciendis doloremque totam quod nesciunt dolore sequi vel tenetur, assumenda optio eaque quo modi placeat impedit! Corrupti, magni soluta.  
        .about__img
            img(src="assets/img/about2.jpg" alt="about image 2")
        .about__text
            h2 Title 2
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint tempore reiciendis doloremque totam quod nesciunt dolore sequi vel tenetur, assumenda optio eaque quo modi placeat impedit! Corrupti, magni soluta.
        .about__img
            img(src="assets/img/about3.jpg" alt="about image 2")
        .about__text
            h2 Title 3
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint tempore reiciendis doloremque totam quod nesciunt dolore sequi vel tenetur, assumenda optio eaque quo modi placeat impedit! Corrupti, magni soluta.

    .controls
        i.fas.fa-chevron-circle-left#prev
        i.fas.fa-chevron-circle-right#next