extends ../templates/template
block menu
    - pageActive = 'contact'
    include ../includes/main-menu
block title
    h1.title Contact
block main
    .contact
        .contact__form
            form.form-contact
                .form-contact__fields
                    input(type="text" name="name" placeholder="name").form-contact__input
                    input(type="text" name="email" placeholder="email").form-contact__input
                    input(type="text" name="subjet" placeholder="subjet").form-contact__input
                .form-contact__field
                    textarea(name="message" placeholder="message").form-contact__textarea
            .form-contact__field
                input(type="submit" value="Send").form__submit
        .contact__map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97173.9782599626!2d-3.74957606730303!3d40.43793316645203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422997800a3c81%3A0xc436dec1618c2269!2sMadrid!5e0!3m2!1ses!2ses!4v1572176545554!5m2!1ses!2ses' style='border:0;' allowfullscreen='' frameborder='0')
            a(href="https://www.google.es/maps/place/Madrid/@40.4379332,-3.7495761,12z/data=!3m1!4b1!4m5!3m4!1s0xd422997800a3c81:0xc436dec1618c2269!8m2!3d40.4167754!4d-3.7037902" target="_blank")
                img(src="assets/map.png" alt="").contact__img-map
        .social
            .social__icon
                i.fab.fa-twitter-square
                i.fab.fa-twitter-square
            .social__icon
                i.fab.fa-instagram
                i.fab.fa-instagram
            .social__icon
                i.fab.fa-youtube-square
                i.fab.fa-youtube-square
            .social__icon
                i.fab.fa-pinterest-square
                i.fab.fa-pinterest-square