#login-modal.lightbox
    form#login-form.form
        .form__field
            label(for="login-email").form__label Email
            input(type="email" name="email")#login-email.form__input
        .form__field
            label(for="login-password").form__label Password
            input(type="password" name="password")#login-password.form__input
        .form__field
            input(type="submit" value="Send").form__submit