//Contenedor modal de toda la ventana
.lightbox#register-modal
    //Formulario de registro
    form#register-form.form
        .form__field
            label(for="register-email").form__label Email
            input#register-email(type="email" name="email").form__input
        .form__field
            label(for="register-password").form__label Password
            input#register-password(type="password" name="password").form__input
        .form__field
            label(for="register-password-2").form__label Repeat password
            input#register-password-2(type="password" name="password-2").form__input
        .form__field
            input(type="submit" name="button" value="Send").form__submit
