.contact {
  background-color: $dark-color;
  position: relative;
  height: 100vh;
  text-align: center;

  @include laptop {
    height: calc(100vh - 250px);
    &__img-map {
      display: none;
    }
  }

  &__map {
    width: 100%;
    text-align: center;
    @include laptop {
      width: 50%;
      margin: 0 auto 2rem;
    }

    & iframe {
      display: none;
      @include laptop {
        width: 600px;
        height: 300px;
        margin: 2rem auto;
        display: block;
      }
    }
  }

  &__img-map {
    width: 320px;
    margin-top: 2rem;
  }
}
